---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="id">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			<p>
				<img src="https://jasadukun.com/jasadukun.jpg" alt="Jasa Dukun">
			</p>
			
		</main>
		<Footer />
	</body>
</html>
